<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>    
     <div class="material-icons">add_circle_outline</div>
</body>






<script type="text/javascript" src="js/materialize.min.js"></script>
